<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>

<!-- Use the algorithm together with a Bagfile, compute poses using OKVIS -->
	<arg name="camera_name" value="/camera"/>
	
	<!-- Run Bagfile -->
     <node pkg="rosbag" type="play" name="player" output="screen"   
      args="-r 1.0 /home/karrer/FinalDataSet/2016_Feb_12/Realsense/Desk/desk_3.bag --clock"/> 
      <!--/home/karrer/FinalDataSet/2016_Feb_11/Picoflexx/Boiler/boiler_mode1_oneside2.bag" -->
      
	<!-- Run Okvis (Monocular) -->
    <node name="okvis_node" pkg="okvis_ros" type="okvis_node" output="screen">
    	<param name="config_filename" value="$(find okvis_ros)/okvis/config/marcoMono2.yaml" />
    	<remap from="/camera0" to="/cam0/image_raw" />
    	<remap from="/imu" to="/imu0" />
  	</node>

	<!-- Run fastfusion_node-->
	<node  name="fastfusion_node" pkg="fastfusion_node" type="fastfusion_node" clear_params="true" output="screen" >
		<remap from="image_depth"		to="$(arg camera_name)/depth/image_raw" />
		<remap from="image_conf"		to="$(arg camera_name)/confidence/image_raw" />
		<remap from="image_noise" 		to="$(arg camera_name)/noise/image_raw" />
		<remap from="point_cloud" 		to="$(arg camera_name)/depth/points" />

		<!-- Load parameters -->
 		<rosparam file="$(find fastfusion_node)/cfg/params.yaml"/> 
 		<rosparam file="/home/karrer/FinalDataSet/2016_Feb_11/Realsense/Rig_Calibration/run1/calibration_params.yaml"/>
	</node>
	
</launch>
